body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e2e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: scale(0.9);
}

.container {
  display: flex;
  gap: 20px;
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.content {
  max-width: 400px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.date-time {
  color: #b4b4b4;
  font-size: 1rem;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #44475a;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.category h2 {
  font-size: 1.2rem;
  color: #c792ea;
  margin-bottom: 10px;
}

.category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category li {
  margin-bottom: 5px;
  color: #ffffff;
  cursor: pointer;
}

.category li:hover {
  text-decoration: underline;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.image-container img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  background-color: #44475a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}

.image-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tooltip-container {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 45px;
  height: 45px;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tooltip-container:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}